:root {
  --white: #ffff;
  --lightgray: #e3e3e3;
  --darkergray: #333;
}

body {
  background-color: var(--lightgray);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

nav {
  color: var(--white) !important;
}

footer {
  background-color: var(--darkergray);
  position: relative;
  color: var(--white);
  font-size: 11px;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

.no-radius {
  border-radius: 0% !important;
}
